openapi: 3.0.1
info:
  title: AccuWeather One Active Storms Daily Indices API
  description: AccuWeather's internal product API for the One platform.
  version: v1
tags:
- name: Daily Indices
paths:
  /api/daily-indices/{locationKey}:
    get:
      tags:
      - Daily Indices
      summary: AccuWeather Retrieves a the Daily Indices for a Location
      parameters:
      - name: locationKey
        in: path
        description: The location key to retrieve weather conditions for
        required: true
        schema:
          type: string
        example: '347628'
      - name: Locale
        in: query
        description: ISO 639-2 and ISO 3166-1 code for the locale
        schema:
          type: string
          example: en-us
        example: en-us
      - name: MeasurementDisplay
        in: query
        description: Display type for weather conditions and distance
        schema:
          $ref: '#/components/schemas/MeasurementDisplayType'
        example: Imperial
      - name: WindUnit
        in: query
        description: Additional display type for wind direction
        schema:
          $ref: '#/components/schemas/WindDirectionDisplayType'
        example: Cardinal
      - name: Theme
        in: query
        description: Theme for the application
        schema:
          $ref: '#/components/schemas/ThemeType'
        example: System
      - name: category
        in: query
        description: The index category to get the indices for.
        schema:
          $ref: '#/components/schemas/LifestyleCategory'
        example: Allergies
      responses:
        '200':
          description: Indices found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/DailyIndex'
              examples:
                _api_daily-indices_locationKey200Example:
                  summary: Default _api_daily-indices_locationKey 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Query parameter was missing or empty
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    IndexType:
      enum:
      - Unknown
      - Running
      - Jogging
      - Hiking
      - Biking
      - Golf
      - Tennis
      - Skateboarding
      - Concert
      - KiteFlyingForecast
      - BeachAndPool
      - Sailing
      - Stargazing
      - FishingForecast
      - Construction
      - Skiing
      - Heart
      - Mosquito
      - Dust
      - SnowDays
      - Hunting
      - ArthritisDay
      - ArthritisNight
      - Asthma
      - BBQ
      - CommonColdForecast
      - Flu
      - Migraine
      - LawnMowing
      - Outdoor
      - Sinus
      - Flying
      - FieldReadiness
      - GrassGrowing
      - SoilMoisture
      - SchoolBusStop
      - HomeEnergy
      - FuelEconomy
      - Composting
      - ShoppingForecast
      - Driving
      - Thirst
      - Frizz
      - DogWalking
      - COPD
      - IndoorPest
      - OutdoorPest
      - AccuLumenBrightness
      - MorningExercise
      - Clothing
      - CommonCold
      - Comfort
      - CarWashing
      - HeatStroke
      - UVIntensity
      - ClothesDrying
      - AirPollution
      - Tourism
      - AirConditioning
      - Fishing
      - SunProtection
      - Shopping
      - Rowing
      - Traffic
      - RoadConditions
      - Umbrella
      - HairDressing
      - NightLife
      - Beer
      - KiteFlying
      - Makeup
      - WindChills
      - Mood
      - Exercise
      - Dating
      - Allergy
      - Beach
      - Sunglasses
      - ShortPhrase
      - Hypertension
      - Dryness
      - ApparentTemperature
      - PolutionPrevention
      - FoodPoisoning
      - WindChillDescending
      - Heat
      - Discomfort
      - UVDescending
      - PipeFreeze
      - AtmosphericDispersion
      - HeatSensitivityGeneral
      - HeatSensitivityElderly
      - HeatSensitivityChildren
      - HeatSensitivityOutdoorWorking
      - HeatSensitivityFarming
      - HeatSensitivityGreenhouse
      - HeatSensitivityVulnerableResidential
      - AsthmaAndLungDisorder
      - Stroke
      - SkinSensitivity
      - CommonColdDescending
      - TreePollenLevels
      - PinePollen
      - WeedPollenLevels
      - Arthritis
      - OutdoorHomeGarden
      - SoilHomeGarden
      - FieldHomeGarden
      - UV
      - TreePollen
      - RagweedPollen
      - MoldPollen
      - GrassPollen
      - AirQuality
      - FlightDelay
      - IndoorActivity
      type: string
    MeasurementDisplayType:
      enum:
      - Metric
      - Imperial
      - Hybrid
      type: string
    LifestyleCategory:
      enum:
      - Allergies
      - Health
      - OutdoorActivities
      - TravelCommute
      - HomeGarden
      - Pests
      type: string
    ThemeType:
      enum:
      - Light
      - Dark
      - System
      type: string
    WindDirectionDisplayType:
      enum:
      - Cardinal
      - Degrees
      type: string
    DailyIndex:
      type: object
      properties:
        indexName:
          type: string
          nullable: true
        indexType:
          $ref: '#/components/schemas/IndexType'
        days:
          type: array
          items:
            $ref: '#/components/schemas/IndexDay'
          nullable: true
        activityType:
          $ref: '#/components/schemas/LifestyleCategory'
      additionalProperties: false
    IndexDay:
      type: object
      properties:
        dayOfWeek:
          type: string
          nullable: true
        shortDayOfWeek:
          type: string
          nullable: true
        fullDayOfWeek:
          type: string
          nullable: true
        epoch:
          type: integer
          format: int32
          nullable: true
        dateTime:
          type: string
          nullable: true
        displayDate:
          type: string
          nullable: true
        longDisplayDate:
          type: string
          nullable: true
        value:
          type: integer
          format: int32
        category:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
      additionalProperties: false
servers:
- url: https://dataservice.accuweather.com
  description: Base URL reconciled from apis.yml
